<div>
  <h1>Upload Your Car Image</h1>
  <div>
  <%= form_tag "/google_vision", method: :post do %>
      <input type="text" name="image_link">
      <input type="submit" value="Check Image">
  <% end %>
  </div>
</div>





<!--  style="margin-top: 300px;" -->