<h1>My Favorites</h1>
<div class="row">
  <% @favorite_cars.each do |favorite_car| %>
    <h3 class="col-sm-3 col-sm-offset-1 car-list-button"><a href="/cars/<%= favorite_car.car_id %>"%> <%= favorite_car.car.title %></a></h3>
  <% end %>
</div>
