// .nav-logo {
//   color: #626262;
//   font-weight: bold;
// }

// .overlay-dark40 {
//     background-color: black;
//     opacity: 5;
// }

// .cars-container {
//   padding-top: 70px;

//   .btn {
//     padding: 10px 15px;
//   }
// }


input, input[type="text"] {
  text-transform: none;
}

.black-spacer {
  height: 200px;
}

#show-image {
  &#intro, &.bg-image, &#intro.bg-image, &#inner-intro .bg-image, &#inner-intro.bg-image {
 background-attachment: unset;
  }
}

#footer {
  .footer {
    .grey-bg{
      .thing-smaller{
        padding-top: 200px;
        padding-bottom: 200px;
      }
    }
  }
}