<%= form_tag '/cars', method: :post do %>
  <div>
    Year: <input type="text" name="year">
  </div>
    <div>
    Make: <input type="text" name="make">
  </div>
    <div>
    Model: <input type="text" name="model">
  </div>
    <div>
    Style: <input type="text" name="style">
  </div>
    <div>
      <input type="submit" value="Save Car">
  </div>
<% end %>
